@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<hr />
<h4>Enter your email.</h4>

<div class="row">
    <div class="col m4">
        <form method="post">
            <div class="input-field">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email"/>
                <span asp-validation-for="Input.Email" class="helper-text red-text"></span>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
