@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col m12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <br />
            <div asp-validation-summary="All"></div>
            <div class="input-field">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email"/>
                <span asp-validation-for="Input.Email" class="helper-text red-text"></span>
            </div>
            <div class="input-field">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password"/>
                <span asp-validation-for="Input.Password" class="helper-text red-text"></span>
            </div>
            <div class="input-field">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword"/>
                <span asp-validation-for="Input.ConfirmPassword" class="helper-text red-text"></span>
            </div>
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
