@model Domain.Entities.Product

<div class="col s12 m6">
    <div class="card">
        <div class="card-image">
            <img src=@GetImage()>
        </div>
        <div class="card-content">
            <h3>@Model.Name</h3>
            <p>
                @Model.Description
            </p>
            <h5 class="right-align">$@Model.Price</h5>
        </div>
        <div class="card-action">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id">View</a>
        </div>
    </div>
</div>

@{
    string GetImage()
    {
        if(Model.PictureUri == null)
        {
            return "/images/products/notFound.png";
        }
        else
        {
            return Model.PictureUri;
        }
    }
}

