@using Microsoft.AspNetCore.Identity
@using Domain.Entities

@model Domain.Entities.Product
@inject SignInManager<User> SignInManager


<div class="col s6 m4">
    <div class="card large">
        <div class="card-image">
            <img src=@GetImage()>
        </div>
        <div class="card-content">
            <h4>@Model.Name</h4>
            <h5 class="right-align grey-text">$@Model.Price</h5>
        </div>
        <div class="card-action">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id">View</a>
            <a asp-controller="Products" asp-action="AddToOrder" asp-route-id="@Model.Id">Add to order</a>
        </div>
    </div>
</div>

@{
        string GetImage()
        {
            if (Model.PictureUri == null)
            {
                return "/images/products/notFound.png";
            }
            else
            {
                return Model.PictureUri;
    }
}
}

