@model Domain.Entities.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="row">
    <div class="col s8">
        <form asp-action="Edit">
            <div class="input-field">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="validate"/>
                <span asp-validation-for="Name" class="text-red"></span>
            </div>
            <div class="input-field">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="validate"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="input-field">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="validate" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="input-field">
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryId"></select>
                <label asp-for="CategoryId"></label>
                <span asp-validation-for="CategoryId" class="text-red"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="input-field">
                <input type="submit" value="Save" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
