@model IEnumerable<Domain.Entities.Product>

@{
    ViewData["Title"] = "Products";
}
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Identity
@using Domain.Entities

<h2>Products</h2>

<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_Product" model="item" />
    }
</div>