@model IEnumerable<Domain.Entities.Product>

@{
    ViewData["Title"] = "Products";
}
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Identity
@using Domain.Entities

<p>
    @if (SignInManager.IsSignedIn(User))
    {
    <div class="fixed-action-btn">
        <a class="btn btn-large" asp-action="Create">Create New</a>
    </div>        
    }
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_Product" model="item" />
    }
</div>